html {
  overflow: auto;
  /* overflow: hidden; */
}
html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
h1 {
  font-size: 50px;
  font-family: Audiowide;
}
p {
  font-size: 24px;
  line-height: 50px;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: #d4d7de; */
  width: 100%;
  height: 70px;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}
/* .logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
} */
/* img {
  width: 20%;
} */
a {
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #000;
}
.banner-area {
  position: relative;
  background-image: url(https://i.postimg.cc/GtRM7mdX/1.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-area,
.port-area,
.service-area,
.contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
.text-part {
  width: 65%;
  height: 80%;
  margin-top: 10rem;
}
.about-area {
  background-color: #fefefe;
}
.port-area {
  background-color: #81d8d0;
  color: #fff;
}
.service-area {
  background-color: #fefefe;
}
.contact-area {
  background-color: #81d8d0;
  color: #fff;
}

.gif {
  /* margin-top: 3rem; */
  height: 30rem;
  width: 40rem;
  margin-left: 35rem;
  bottom: 5rem;
}

.sheepanimation {
  position: relative;
  width: 160px;
  height: 340px;
  margin-top: 150px;
  background: rgba(0, 0, 0, 0);
  transform: rotate(-30deg) skew(25deg) scale(0.8);
  transition: 0.5s;
  margin-left: 12rem;
  top: 1rem;
}
.sheepanimation img {
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.sheepanimation:hover img:nth-child(4) {
  transform: translate(160px, -160px);
  opacity: 1;
}
.sheepanimation:hover img:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: 0.8;
}
.sheepanimation:hover img:nth-child(2) {
  transform: translate(80px, -80px);
  opacity: 0.6;
}
.sheepanimation:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: 0.4;
}

.content {
  position: relative;
  /* background-color: red; */
  left: 6rem;
  bottom: 5rem;
}
.sheepanimatione {
  position: relative;
  width: 160px;
  height: 340px;
  margin-top: 150px;
  background: rgba(0, 0, 0, 0);
  transform: rotate(-30deg) skew(25deg) scale(0.8);
  transition: 0.5s;
  margin-left: 20rem;
  /* top: 100rem; */
  z-index: 1;
}
.sheepanimatione img {
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.sheepanimatione:hover img:nth-child(4) {
  transform: translate(160px, -160px);
  opacity: 1;
}
.sheepanimation2:hover img:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: 0.8;
}
.sheepanimatione:hover img:nth-child(2) {
  transform: translate(80px, -80px);
  opacity: 0.6;
}
.sheepanimatione:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: 0.4;
}

.content {
  position: relative;
  /* background-color: red; */
  left: 6rem;
  top: 1rem;
}
