body {
  overflow: scroll;
}

.onecontainer {
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  overflow: scroll;
  /* width: 1632px;
  height: 100vh; */
}
.onemainnav {
  width: 320px;
  height: 100vh;
  background-color: black;
}

.onemaininfo {
  width: 1312px;
  height: 100vh;
  background-color: blue;
}

.readNotetitle {
  background-color: white;
  border-style: solid;
}

.readandedit {
  background-color: brown;
}

/* <button class="button-7" role="button">Button 7</button> */

/* CSS */
.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width: 25rem;
  height: 5rem;
  text-overflow: clip;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

.arrow {
  display: block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 14px/100% "Trebuchet MS", Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding: 0.4em 1em 0.5em 1em;
  margin: 10px 0;
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#52a8e8),
    to(#377ad0)
  );
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  text-shadow: 0 -1px 1px #3275bc;
  -webkit-background-clip: padding-box;
}

.textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
