.mainbody {
  display: flex;
  flex-direction: column;
}

.blockWelcome {
  background-color: black;
  margin-top: -1em;
  height: 12em;
}

.blockWelcome div {
  color: white;

  margin-left: 30em;
  margin-top: 3em;
  font-size: 25px;
}
.Logo {
  display: inline-block;
  height: 5em;
  margin-left: 15em;
  margin-top: -55px;
}
