.loginbox {
  margin: 0;
  padding: 0;
  background: lightblue;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.avatar {
  position: relative;
  width: 180px;
  height: 180px;
}

form {
  box-sizing: border-box;
  padding: 0 40px;
}

label {
  display: flex;
  margin: 30px 0;
  top: 50%;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border-bottom: solid black;
  background: none;
  margin-left: 20px;
}

.login {
  appearance: button;
  background-color: lightskyblue;
  border: 1px solid lightskyblue;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.login:disabled {
  opacity: 0.5;
}

.login:focus {
  outline: 0;
}

.login:hover {
  background-color: lightskyblue;
  border-color: lightskyblue;
}

.login:active {
  background-color: lightskyblue;
  border-color: lightskyblue;
}

.signuppart {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
