/* * {
  box-sizing: border-box;
  background: #fff;
} */
.notloggedinnav {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 80em;
  margin-top: 2em;
  gap: 1em;
}
.notloggedinnav a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  margin-bottom: 2em;
}

.notloggedinnav a:hover {
  color: green;
}
