.realnotecreatebtn {
  position: absolute;
  background-color: red;
  height: 5rem;
  width: auto;
  top: 45rem;
  left: 35rem;
}

.createrealnotes {
  display: inline-flex;
  flex-direction: column;
  position: absolute;

  height: 10rem;
  width: auto;
  top: 10rem;
  left: 65rem;
}

.topnotes {
  position: absolute;
  height: 5rem;
  width: 40rem;
  right: -23rem;
}

.bottomnotes {
  position: absolute;
  height: 30rem;
  width: 40rem;
  right: -23rem;
  top: 5rem;
}
.cancelnote {
  position: absolute;
  top: 40rem;
  right: 5rem;
}

.confirmnote {
  position: absolute;
  top: 40rem;
  left: 10rem;
}
.notesonly {
  background-color: lightblue;
}

.notescrud {
  position: absolute;

  top: 10rem;
}

.editrealnotesbottom {
  position: absolute;
  height: 5rem;
  width: 40rem;
  left: 54rem;
  top: 1rem;
}

.editrealnotestop {
  position: absolute;
  height: 22rem;
  width: 40rem;
  left: 54rem;
  top: 6rem;
  bottom: 1rem;
}

.saverealnote {
  position: absolute;
  background-color: red;
  left: 61rem;
  top: 29.5rem;
}

.cancelrealnote {
  position: absolute;
  background-color: red;
  left: 55.5rem;
  top: 29.5rem;
}
.deleterealnote {
  position: absolute;
  background-color: red;
  left: 65.5rem;
  top: 29.5rem;
  white-space: nowrap;
}

.allthelinksnotesforrealnotes {
  /* background-color: red; */
  position: absolute;

  height: 100rem;

  top: 1rem;
}

form input::-webkit-input-placeholder {
  text-align: center;
}
